# Keep the Packagist dist archive limited to the files the host application runs.
/tests            export-ignore
/docs             export-ignore
/.github          export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/phpunit.xml      export-ignore
/phpunit.xml.dist export-ignore
/.editorconfig    export-ignore

* text=auto eol=lf
